
Graphics/Characters/girl_bike.png
Graphics/Characters/girl_bike_base.png
Graphics/Characters/girl_bike_curr.png
Graphics/Characters/girl_run.png
Graphics/Characters/girl_run_base.png
Graphics/Characters/girl_run_curr.png
Graphics/Characters/girl_surf.png
Graphics/Characters/girl_surf_base.png
Graphics/Characters/girl_surf_curr.png
Graphics/Characters/trchar001.png
Graphics/Characters/trchar001_base.png
Graphics/Characters/trchar001_curr.png
Graphics/Pictures/introGirl.png
Graphics/Pictures/introGirl_base.png
Graphics/Pictures/introGirl_curr.png
Graphics/Pictures/introBoy_curr.png
Graphics/Pictures/introBoy_base.png
Graphics/Pictures/introBoy.png
Graphics/Characters/trchar000_curr.png
Graphics/Characters/trchar000_base.png
Graphics/Characters/trchar000.png
Graphics/Characters/boy_surf_curr.png
Graphics/Characters/boy_surf_base.png
Graphics/Characters/boy_surf.png
Graphics/Characters/boy_run_curr.png
Graphics/Characters/boy_run_base.png
Graphics/Characters/boy_run.png
Graphics/Characters/boy_bike_curr.png
Graphics/Characters/boy_bike_base.png
Graphics/Characters/boy_bike.png
Game.rxdata
